@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.App {
  font-family: "MedievalSharp", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  /* background-image: url("./assets/mapa-bkg-1.png"); */
}

.title {
  position: absolute;
  z-index: 2;
  display: block;
  margin-left: 50vh;
  color: white;
  font-size: 4vh;
  margin-top: 5vh;
  text-shadow: 1px 5px 5px black;
}

.mapa-bkg {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.modal .modal-popout-bg {
  background-image: url("http://somepic.com/somepic.jpg");
}
